<!DOCTYPE html>
<html ng-app="afxClothing">
  <head>
    <title>AFX Clothing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="components/pure/base-min.css" />
    <link rel="stylesheet" href="components/pure/grids-min.css" />
    <link rel="stylesheet" href="styles/pure-grids-xs.css" />
    <link rel="stylesheet" href="components/pure/grids-responsive-min.css" />

    <link rel="stylesheet" href="styles/style.css" />

    <script type="text/javascript" src="components/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <!-- <script type="text/javascript" src="js/fetch.js"></script> -->
  </head>
  <body ng-controller="ProductsController as productsCtrl">

      <template>
        While the shift left right is interesting, I would
      rather have an immediate disapperance of the title as works
      now, and immediate enlargement of price or some other item,
      and a 500ms delay on an inplace enlargement of the entire
      product box.
      May be tricky with items on the edges..
      Ah. the immediate hover reveals the 'add to
      cart' button.
    </template>


      <header class="pure-g" ng-mouseleave="productsCtrl.subFilter=false">
        <div class="pure-u-1 pure-u-sm-1-3" ng-mouseenter="productsCtrl.subFilter=false">
          <a ng-click="productsCtrl.filterBy()">
            <img class="pure-img" src="images/logo.png" />
          </a>
          <section>
            Shopping Cart <span class="count">0</span>
          </section>
        </div>
        <div class="pure-u-1 pure-u-sm-2-3">
          <nav class="pure-g">
            <li class="pure-u-1 pure-u-sm-1-2">
              <a ng-click="productsCtrl.filterBy()" ng-mouseenter="productsCtrl.subFilter='MEN'">
                Men
              </a>
            </li>
            <li class="pure-u-1 pure-u-sm-1-2">
              <a ng-click="productsCtrl.filterBy()" ng-mouseenter="productsCtrl.subFilter='WOMEN'">
                Women
              </a>
            </li>
          </nav>
          <ul class="pure-g" ng-show="productsCtrl.subFilter">
            <li class="pure-u-1 pure-u-sm-1-3">
              <a ng-click="productsCtrl.filterBy('Footwear')">Footwear</a>
            </li>
            <li class="pure-u-1 pure-u-sm-1-3">
              <a ng-click="productsCtrl.filterBy('Formalwear')">Formal</a>
            </li>
            <li class="pure-u-1 pure-u-sm-1-3">
              <a ng-click="productsCtrl.filterBy('Casualwear')">Casual</a>
            </li>
          </ul>
        </div>
      </header>

      <main>
        <!-- This can be a directive -->
        <section class="pure-g product-row">
          <li ng-show="productsCtrl.isShownProduct(product)" ng-repeat="product in productsCtrl.products" class="pure-u-1 pure-u-xs-1-2 pure-u-sm-1-3 pure-u-md-1-4 pure-u-lg-1-5">
            <div class="product-box">
              <h3>{{product.name}}</h3>
              <div class="product-content">
                <div class="box-left">
                  <img  ng-repeat="color in product.colors" ng-show="productsCtrl.showByColor(product,color)" ng-src="{{product.productThumbs[color]}}" />
                </div>
                <div class="box-right">
                  <p ng-show="productsCtrl.showByColor(product,color)" ng-repeat="color in product.colors">
                    <span ng-class="{discounted:product.discount[color]}">
                      {{product.price | currency:"&pound;"}}
                    </span>
                    <span ng-show="product.discount[color]">
                      {{product.price - product.discount[color] | currency:"&pound;"}}
                    </span>
                  </p>
                  <a ng-repeat="color in product.colors" class="color-thumb" ng-click="productsCtrl.activateColor(product,color)" title="{{color}}" ng-style="{'background':product.colorThumbs[color]}"></a>
                </div>
              </div>
            </div>
          </li>
        </section>
      </main>


  </body>
</html>
