<!DOCTYPE html>
<html ng-app="afxClothing">
  <head>
    <title>AFX Clothing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="components/pure/base-min.css" />
    <link rel="stylesheet" href="components/pure/grids-min.css" />
    <link rel="stylesheet" href="styles/pure-grids-xs.css" />
    <link rel="stylesheet" href="components/pure/grids-responsive-min.css" />

    <link rel="stylesheet" href="styles/style.css" />

    <script type="text/javascript" src="components/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script tpye="text/javascript" src="js/services.js"></script>
    <!-- <script type="text/javascript" src="js/fetch.js"></script> -->
  </head>
  <body ng-controller="ProductsController as productsCtrl">

    <template>
      Notes.

      To add animation to clothing options on gender hover,
      I could add and remove a class that animates opacity.

      I will have to methods, one to add a new item to cart,
      and another to simply update quantity.
      Angular will use the stock to determine where and items
      quantity can be updated, or it can be added to the cart
      in the first place. However the server will have some
      error checking in place as well.

      Instead of setting quantity from main page, you will simply either
      add or a remove an item.

      - Change initial fetch of products to also fetch user cart.
      - Animate gender hover.
      - Angular change add link on already added items
      - Add shopping cart to html.
    </template>


      <header class="pure-g"  ng-mouseleave="productsCtrl.hoverClear()">
        <div class="pure-u-1 pure-u-sm-1-3" ng-mouseenter="productsCtrl.hoverClear()">
          <a ng-click="productsCtrl.resetFilter()">
            <img class="pure-img" src="images/logo.png" />
          </a>
          <section>
            Shopping Cart <span class="count">{{productsCtrl.cart.length}}</span>
          </section>
        </div>
        <div class="pure-u-1 pure-u-sm-2-3">
          <nav class="pure-g">
            <li class="pure-u-1 pure-u-sm-1-2">
              <a ng-click="productsCtrl.filterByMen()" ng-mouseenter="productsCtrl.hoverMen()">
                Men
              </a>
            </li>
            <li class="pure-u-1 pure-u-sm-1-2">
              <a ng-click="productsCtrl.filterByWomen()" ng-mouseenter="productsCtrl.hoverWomen()">
                Women
              </a>
            </li>
          </nav>
          <ul class="pure-g" ng-show="productsCtrl.showMenOptions">
            <li class="pure-u-1 pure-u-sm-1-3">
              <a ng-click="productsCtrl.filterByMen('Footwear')">Footwear</a>
            </li>
            <li class="pure-u-1 pure-u-sm-1-3">
              <a ng-click="productsCtrl.filterByMen('Formalwear')">Formal</a>
            </li>
            <li class="pure-u-1 pure-u-sm-1-3">
              <a ng-click="productsCtrl.filterByMen('Casualwear')">Casual</a>
            </li>
          </ul>
          <ul class="pure-g" ng-show="productsCtrl.showWomenOptions">
            <li class="pure-u-1 pure-u-sm-1-3">
              <a ng-click="productsCtrl.filterByWomen('Footwear')">Footwear</a>
            </li>
            <li class="pure-u-1 pure-u-sm-1-3">
              <a ng-click="productsCtrl.filterByWomen('Formalwear')">Formal</a>
            </li>
            <li class="pure-u-1 pure-u-sm-1-3">
              <a ng-click="productsCtrl.filterByWomen('Casualwear')">Casual</a>
            </li>
          </ul>
        </div>
      </header>

      <main>
        <!-- This can be a directive -->
        <section class="pure-g product-row">
          <li ng-show="productsCtrl.isProductShown(product)" ng-repeat="product in productsCtrl.products" class="pure-u-1 pure-u-xs-1-2 pure-u-sm-1-3 pure-u-md-1-4 pure-u-lg-1-5">
            <div class="product-box">
              <h3>{{product.name}}</h3>
              <div class="product-content" ng-show="productsCtrl.showByColor(product,color)" ng-repeat="color in product.colors">
                <div class="box-left">
                  <img ng-src="{{product.productThumbs[color]}}" />
                </div>
                <div class="box-right">
                  <p>
                    <span ng-class="{discounted:product.discount[color]}">
                      {{product.price | currency:"&pound;"}}
                    </span>
                    <span ng-show="product.discount[color]">
                      {{product.price - product.discount[color] | currency:"&pound;"}}
                    </span>
                    <span ng-hide="product.discount[color]">&nbsp;</span>
                  </p>
                  <p>
                    <span>Color:</span>
                    <a ng-repeat="color in product.colors" class="color-thumb" ng-click="productsCtrl.activateColor(product,color)" title="{{color}}" ng-style="{'background':product.colorThumbs[color]}"></a>
                  </p>
                  <span class="cart-add">
                    <a ng-show="product.isInCart" ng-click="productsCtrl.removeFromCart(product)">Remove from cart</a>
                    <a ng-hide="product.isInCart || productsCtrl.canAdd(product)" class="out-of-stock">Out of Stock</a>
                    <a ng-show="productsCtrl.canAdd(product)" ng-click="productsCtrl.addToCart(product)">Add to cart</a>
                  </span>
                </div> <!-- .box-right -->
              </div> <!-- .product-content -->
            </div> <!-- .product-box -->
          </li>
        </section>
      </main>


  </body>
</html>
