<!DOCTYPE html>
<html ng-app="afxClothing">
  <head>
    <title>AFX Clothing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="components/pure/base-min.css" />
    <link rel="stylesheet" href="components/pure/grids-min.css" />
    <link rel="stylesheet" href="styles/pure-grids-xs.css" />
    <link rel="stylesheet" href="components/pure/grids-responsive-min.css" />

    <link rel="stylesheet" href="styles/style.css" />

    <script type="text/javascript" src="components/angular/angular.min.js"></script>
    <script type="text/javascript" src="components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script tpye="text/javascript" src="js/services.js"></script>
  </head>
  <body ng-controller="ProductsController as productsCtrl">

    <template>
      Notes.

      There are a few initial design choices I regret.

      The first is deciding that products of different colors
      are not unique,
      and the second is mocking my data in an array instead of
      a hash with product id's as keys.

      The combination of these two flaws led to nested loops
      (O n^2) as well as the pain of having to constantly consider
      color when dealing with objects.

      Instead of setting quantity from main page, you will simply either
      add or a remove an item.

      - Add shopping cart quantity functions.
      - move code into directives
    </template>


      <header class="pure-g"  ng-mouseleave="productsCtrl.hoverClear()">
        <div class="left-header pure-u-1 pure-u-sm-1-3" ng-mouseenter="productsCtrl.hoverClear()">
          <a ng-click="productsCtrl.resetFilter()">
            <img class="pure-img" src="images/logo.png" />
          </a>
          <!-- Mini Cart Header -->
          <section ng-show="productsCtrl.isCartShowing" ng-mouseup="productsCtrl.hideCart()">&nbsp;</section>
          <section ng-class="{'shopping-cart':productsCtrl.isCartShowing}">
            <a ng-click="productsCtrl.showCart()">
              Shopping Cart <span class="count">{{productsCtrl.cart.length}}</span>
            </a>
            <!-- Modular Shopping Cart -->
            <section ng-show="productsCtrl.isCartShowing">
              <a class="close-cart delete" ng-click="productsCtrl.hideCart()">X</a>
              <article class="pure-g" ng-repeat="product in productsCtrl.cart">
                <span class="pure-u-1-2">
                  {{product.name}}
                  {{product.color}}
                </span>
                <span class="pure-u-1-6">
                  {{product.price | currency:"&pound;"}}
                </span>
                <span class="pure-u-1-6 quantity">
                  <a ng-click="productsCtrl.decrementQuantity(product)">-</a>
                  {{product.quantity}}
                  <a ng-click="productsCtrl.incrementQuantity(product)">+</a>
                </span>
                <span class="pure-u-1-6 delete">
                  <a ng-click="productsCtrl.removeFromCart(product)">Remove</a>
                </span>
              </article>
              <article class="checkout">
                <p>
                  Coupon Code: <input type="text" />
                </p>
                <p class="total">
                  {{productsCtrl.totalCost()|currency:"&pound;"}}
                </p>
                <a ng-click>Checkout</a>
              </article>
            </section>  <!-- end modular shopping cart -->
          </section> <!-- end mini-cart -->
        </div> <!-- end left-header -->
        <!-- Primary Menu -->
        <div class="right-header pure-u-1 pure-u-sm-2-3" ng-mouseup="productsCtrl.hideCart()">
          <nav class="pure-g">
            <li class="pure-u-1 pure-u-sm-1-2">
              <a ng-click="productsCtrl.filterByMen()" ng-mouseenter="productsCtrl.hoverMen()">
                Men
              </a>
            </li>
            <li class="pure-u-1 pure-u-sm-1-2">
              <a ng-click="productsCtrl.filterByWomen()" ng-mouseenter="productsCtrl.hoverWomen()">
                Women
              </a>
            </li>
          </nav>
          <!-- Secondary Options -->
          <ul class="pure-g categories" ng-show="productsCtrl.showMenOptions">
            <li  ng-class="{'on':productsCtrl.showMenOptions}" class="pure-u-1 pure-u-sm-1-3">
              <a ng-click="productsCtrl.filterByMen('Footwear')">Footwear</a>
            </li>
            <li  ng-class="{'on':productsCtrl.showMenOptions}" class="pure-u-1 pure-u-sm-1-3">
              <a ng-click="productsCtrl.filterByMen('Formalwear')">Formal</a>
            </li>
            <li  ng-class="{'on':productsCtrl.showMenOptions}" class="pure-u-1 pure-u-sm-1-3">
              <a ng-click="productsCtrl.filterByMen('Casualwear')">Casual</a>
            </li>
          </ul>
          <ul class="pure-g categories" ng-show="productsCtrl.showWomenOptions">
            <li  ng-class="{'on':productsCtrl.showWomenOptions}" class="pure-u-1 pure-u-sm-1-3">
              <a ng-click="productsCtrl.filterByWomen('Footwear')">Footwear</a>
            </li>
            <li  ng-class="{'on':productsCtrl.showWomenOptions}" class="pure-u-1 pure-u-sm-1-3">
              <a ng-click="productsCtrl.filterByWomen('Formalwear')">Formal</a>
            </li>
            <li  ng-class="{'on':productsCtrl.showWomenOptions}" class="pure-u-1 pure-u-sm-1-3">
              <a ng-click="productsCtrl.filterByWomen('Casualwear')">Casual</a>
            </li>
          </ul>
        </div>
      </header>

      <main ng-class="{'fade':productsCtrl.isCartShowing}" ng-mouseup="productsCtrl.hideCart()">
        <!-- This can be a directive -->
        <section class="pure-g product-row">
          <li ng-show="productsCtrl.isProductShown(product)" ng-repeat="product in productsCtrl.products" class="pure-u-1 pure-u-xs-1-2 pure-u-sm-1-3 pure-u-md-1-4 pure-u-lg-1-5">
            <div class="product-box">
              <h3>{{product.name}}</h3>
              <div class="product-content" ng-show="productsCtrl.showByColor(product,color)" ng-repeat="color in product.colors">
                <div class="box-left">
                  <img ng-src="{{product.productThumbs[color]}}" />
                </div>
                <div class="box-right">
                  <p>
                    <span ng-class="{discounted:product.discount[color]}">
                      {{product.price | currency:"&pound;"}}
                    </span>
                    <span ng-show="product.discount[color]">
                      {{product.price - product.discount[color] | currency:"&pound;"}}
                    </span>
                    <span ng-hide="product.discount[color]">&nbsp;</span>
                  </p>
                  <p>
                    <span>Color:</span>
                    <a ng-repeat="color in product.colors" class="color-thumb" ng-click="productsCtrl.activateColor(product,color)" title="{{color}}" ng-style="{'background':product.colorThumbs[color]}"></a>
                  </p>
                  <span class="cart-add" ng-show="product.activeColor===color">
                    <a ng-show="product.isInCart[color]" ng-click="productsCtrl.removeFromCart(product)">Remove from cart</a>
                    <a ng-hide="product.isInCart[color] || productsCtrl.canAdd(product)" class="out-of-stock">Out of Stock</a>
                    <a ng-show="productsCtrl.canAdd(product)" ng-click="productsCtrl.addToCart(product)">Add to cart</a>
                  </span>
                </div> <!-- .box-right -->
              </div> <!-- .product-content -->
            </div> <!-- .product-box -->
          </li>
        </section>
      </main>


  </body>
</html>
