@font-face {
  font-family: 'Champagne & Limousines';
  src: local('Champagne & Limousines'), url('styles/Champagne & Limousines.woff') format('woff');
}

body {

}

div .pure-img {
  margin: 0 auto;
}

header section {
  font-weight: bold;
  padding: 0.4em;
}

.count {
  background: black;
  color:white;
  border-radius:300px;
  padding: 0.4em 0.6em;
}

nav {
  border-bottom:3px solid black;
  text-align: center;
  margin: 0 0.4em;
}

ul {
  text-align: center;
  padding:0;
}

li {
  display:inline-block;
}
nav li {
  font-size:3.5em;
}

ul li {
  font-size:1.9em;
}

.pure-g [class *= "pure-u"] a {
  font-family:"Champagne & Limousines","Lucida Grande", sans-serif;
}

main {
  background:red;
}

/* Square Grid */
main section li {
  background:blue;
  display: inline-block;
  position:relative;
}

main section li:before {
  content: '';
  display: block;
  margin-top: 100%;
}

main section li .product-box {
  background: cyan;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
