@font-face {
  font-family: 'Champagne & Limousines';
  src: local('Champagne & Limousines'), url('styles/Champagne & Limousines.woff') format('woff');
}

body {
  background:#1f1f1f;
}

a[ng-click] {
  cursor:pointer;
}

div .pure-img {
  margin: 0 auto;
}

header section {
  font-weight: bold;
  padding: 0.4em;
}

.count {
  background: black;
  color:white;
  border-radius:300px;
  padding: 0.4em 0.6em 0.3em 0.6em;
}

nav {
  border-bottom:3px solid black;
  text-align: center;
  margin: 0 0.4em;
}

li {
  display:inline-block;
}

nav a {
  padding: 0.2em 0.5em;
}

nav li {
  font-size:3.5em;
}

.categories {
  text-align: center;
  padding:0;
}

.categories li a {
  font-size:1.9em;
}

.categories * {
  -webkit-transition: all 400ms ease-in;
  -moz-transition: all 400ms ease-in;
  -ms-transition: all 400ms ease-in;
  -o-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
}

.categories li.on-add {
  color:white;
}

.categories li.on {
  color:black;
}

.pure-g [class *= "pure-u"] a {
  font-family:"Champagne & Limousines","Lucida Grande", sans-serif;
}

main {
}

/* Square Grid */
.product-row li {
  display: inline-block;
  position:relative;
}

.product-row li:before {
  content: '';
  display: block;
  margin-top: 100%;
}

.product-box {
  opacity:0.2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow:hidden;
  /*height: calc(100% - 3.8em);*/
}

.product-box h3, .box-left, .box-right {
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  -webkit-transition-delay: 450ms;
  -moz-transition-delay: 450ms;
  -ms-transition-delay: 450ms;
  -o-transition-delay: 450ms;
  transition-delay: 450ms;
}

.product-box h3 {
  color:white;
  background:black;
  margin:0;
  padding: 0.5em;
  opacity: 100;
  height: 2em;
}

.product-box:hover h3 {
  padding:0;
  opacity:0;
  height:0;
}

.box-left, .box-right {
  width: 50%;
  position: absolute;
  right:0;
  height:100%;
  white-space: nowrap;
}

.product-content img {
  max-width: 100%;
  height: auto;
  display: block;
}

.product-content:hover .box-right {
  width:10%;
}

.box-left:hover {
  width:100%;
}

.box-right:hover {
  width:50% !important;
}

.box-left {
  right:initial;
  left:0;
}

/* Product Info */

.color-thumb {
  display:inline-block;
  width:1em;
  height:1em;
  border:1px solid black;
  margin:0.1em;
}

.discounted {
  text-decoration: line-through;
  color: #878787;
}

.box-right p {
  margin: 0.5em 0;
}

.box-right span {
  display:block;
  margin: 0.1em 0;
}

.cart-add {
  position: absolute;
  bottom:1em;
  left: 0;
  font-size: 1.1em;
}

.out-of-stock {
  color:red;
}

/* Shopping Cart */
.shopping-cart {
  background:white;
  border: 0.5em solid grey;
  display:block;
  position: absolute;
  padding:1em;
  z-index: 9;
  height: auto;
  width: 70%;
  margin: 0 auto;
  top: 10em;
  left:0;
  right:0;
}

.shopping-cart section {
  padding:0;
  margin: 2em 0;
  text-align: left;
}

.shopping-cart article {
  padding: 0.5em 0;
}

.shopping-cart .quantity {
  text-align: right;
}

.quantity a {
  padding: 0.1em;
}

.quantity a:last-child {
  margin-right:1.5em;
}

@media screen and (min-width: 48em) {
  .shopping-cart {
    width: 30em;
  }
}
