<ul class="pure-g categories" ng-show="productsCtrl.showMenOptions">
  <li  ng-class="{'on':productsCtrl.showMenOptions}" class="pure-u-1 pure-u-sm-1-3">
    <a ng-click="productsCtrl.filterByMen('Footwear')">Footwear</a>
  </li>
  <li  ng-class="{'on':productsCtrl.showMenOptions}" class="pure-u-1 pure-u-sm-1-3">
    <a ng-click="productsCtrl.filterByMen('Formalwear')">Formal</a>
  </li>
  <li  ng-class="{'on':productsCtrl.showMenOptions}" class="pure-u-1 pure-u-sm-1-3">
    <a ng-click="productsCtrl.filterByMen('Casualwear')">Casual</a>
  </li>
</ul>
