<ul class="pure-g categories" ng-show="productsCtrl.showWomenOptions">
  <li  ng-class="{'on':productsCtrl.showWomenOptions}" class="pure-u-1 pure-u-sm-1-3">
    <a ng-click="productsCtrl.filterByWomen('Footwear')">Footwear</a>
  </li>
  <li  ng-class="{'on':productsCtrl.showWomenOptions}" class="pure-u-1 pure-u-sm-1-3">
    <a ng-click="productsCtrl.filterByWomen('Formalwear')">Formal</a>
  </li>
  <li  ng-class="{'on':productsCtrl.showWomenOptions}" class="pure-u-1 pure-u-sm-1-3">
    <a ng-click="productsCtrl.filterByWomen('Casualwear')">Casual</a>
  </li>
</ul>
